<div class="container">
  <img class="logo" src="../../assets/images/uvelichenie-limita-monobank-do-100-000-griven-bez-predoplat-photo-1068.png"
  >
<label for="passwordInput">Password:</label>


<div class="form">
<input type="password" id="passwordInput" [(ngModel)]="password" (input)="checkPasswordStrength()">

<div id="strengthSections">
  <div class="strength-section" [ngClass]="sections[0]"></div>
  <div class="strength-section" [ngClass]="sections[1]"></div>
  <div class="strength-section" [ngClass]="sections[2]"></div>
</div>
</div>
</div>